.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background: url('../images/bg-feather.jpeg');
}

header {
  display: flex;
  height: 50px;
  margin-top: -20px;
  background: rgba(148, 144, 144, 0.356);;
  justify-content: space-between;
  align-items: center;
}

.left {
  padding: 0 20px;
}
.right {
  padding: 0 20px;
}
.container {
  width: 800px;
  height: 500px;
  border-radius: 100px;
  margin: 50px auto;
  text-align: center;
  background: url('../images/bg-white.jpeg');
}
.container h3,
p {
  padding: 40px 0;
}
.container button{
    margin: 40px 0;
    width: 150px;
    height: 35px;
    background: url('../images/bg-black.jpg');
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
}
