<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出错了</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/err.css">
</head>
<body>
    <div class="wrapper">
        <p>错误警告！</p>
    <%=message%>
    </div>
</body>
</html>