<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/regist.css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="left">我的博客</div>
        <% if(locals.username){
          %>
        <div class="right">
          <a href="/"><%=locals.username%></a> |
          <a href="/signOut">退出</a>
        </div>
      <%
      }else{
      %>
        <div class="right">
          <a href="/login">登录</a> |
          <a href="/regist">注册</a>
        </div>
        <% } %>
      </header>

      <div class="container">
        <h3>用户注册</h3>
        <form action="/regist" method="post">
          <p>用户名：<input type="text" name="username" /></p>
          <p>密码：<input type="password" name="password" /></p>
          <p>昵称：<input type="text" name="nickname" /></p>
          <button type="submit">注册</button>
        </form>
      </div>
    </div>
  </body>
</html>
